main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

h2 {
    text-align: center;
}

section {
    background-color: var(--accent-color);
    height: 40em;
    width: 40em;
    padding: 2em;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

section p {
    text-align: center;
}

button {
width: 10em;
cursor: pointer;
}