<main>
    <button (click)="createTestUser()">Make test user</button>
    <h2 *ngIf="this.isLoggedIn">Welcome, {{this.currentUser!.firstName! + ' ' + this.currentUser!.lastName!}}!</h2>
    <h2>{{this.plaintextpw}}</h2>
    <section *ngIf="this.isLoggedIn" class="account-section">

        <section *ngIf="this.currentUser!.plans!.length === 0">
            <h2>You have no plans on your account.</h2>
            <button type="button" routerLink="/plans">Shop Plans</button>
        </section>
        
        <ng-container class="plans" *ngIf="!(this.currentUser!.plans!.length === 0)">
            <section class="plan" *ngFor="let plan of this.currentUser!.plans; let planIndex = index">
                <h2>{{plan.planType}} Plan</h2>
                <table class="plan-devices-table">
                    <thead >
                        <th>Device</th>
                        <th>Device Price</th>
                        <th>Line</th>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let line of plan.lines; let lineIndex = index; let e = even">
                            <tr [ngClass]="{
                                'even': e,
                                'odd': !e
                            }">
                            <td>{{line.device.model}}</td>
                            <td>{{line.device.price}}</td>
                            <td>{{line.number | phone}}</td>
                            <td><button (click)="this.removeLine(planIndex, lineIndex)">Remove Line</button></td>
                            <td *ngIf="line.device !== null"><button>Change Device</button></td>
                            <button *ngIf="line.device === null" type="button" routerLink="/devices">Shop Devices</button>
                            </tr>

                        </ng-container>
                    </tbody>
                </table>
                <h3>Plan Price: {{plan.price | currency}}</h3>
                <button type="button" (click)="this.removePlan(plan)">Remove Plan</button>
            </section>
        </ng-container>

        <div *ngIf="this.isLoggedIn">
            <h2>Monthly Bill</h2>
            <table>
                <thead>
                    <th>Category</th>
                    <th>Total</th>
                </thead>

                <tbody>
                    <tr>
                        <td>Devices Total:</td>
                        <td>{{this.devicesTotal | currency}}</td>
                    </tr>
                    <tr>
                        <td>Plans Total:</td>
                        <td>{{this.plansTotal | currency}}</td>
                    </tr>
                    <tr>
                        <td>Monthly Amount Due:</td>
                        <td>{{this.billTotal | currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    
    <section id="loginroute" *ngIf="!this.isLoggedIn">
        <p>Please click the button to log into your account or create a new one.</p>
        <button type="button" routerLink="/login">LOGIN/REGISTER</button>
    </section>

</main>
