* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: var(--primary-color);
    /* background-image: url('./assets/imgs/galaxy-bg.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1em;
    padding: 1em;
    color: var(--text-color);
  }

:root {
    --primary-color: #272640;
    --secondary-color: #212f45;
    --accent-color: #ffba08;
    --shadow-color: #000000;
    --text-color: #e5e5e5;
    --highlight-color: #4d194d;
    --card-color: #4d194d;
}
