section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 500px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--card-color);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}