<section class="feature-cards">
  <div class="homepic-container">
    <img class="homepic" src="/assets/homepic/logo.jpeg" alt="Starmobile logo">
    <div class="caption">Welcome to StarMobile!<br>“Connecting the Cosmos: Your Universe in the Palm of Your Hand”</div>
  </div>
        <div class="card" routerLink="plans">
          <img src="/assets/icons/OIG4 (1).jpeg" alt="Plans Icon">
          <h3>Explore Our Plans</h3>
          <br>
          <p>Discover unlimited data across the cosmos.</p>
        </div>
        <div class="card" routerLink="devices">
          <img src="/assets/icons/OIG4 (2).jpeg" alt="Devices Icon">
          <h3>Our Space Devices</h3>
          <br>
          <p>From lunar smartphones to asteroid tablets.</p>
        </div>
      </section>
      
    <section class="advertisement">
        <h2>🌟 Coming Soon: Quantum Teleportation</h2>
        <p>Experience instant communication across light-years!</p>
        <!-- <button>Learn More</button> -->
    </section>
