<section class="feature-cards">
        <img class="homepic" src="/assets/homepic/OIG1.jpeg" alt="A human and alien communicating via wireless technology">
        <div class="card" routerLink="plans">
          <img src="/assets/icons/OIG4 (1).jpeg" alt="Plans Icon">
          <h3>Explore Our Plans</h3>
          <p>Discover unlimited data across the cosmos.</p>
        </div>
        <div class="card" routerLink="devices">
          <img src="/assets/icons/OIG4 (2).jpeg" alt="Devices Icon">
          <h3>Our Space Devices</h3>
          <p>From lunar smartphones to asteroid tablets.</p>
        </div>
      </section>
      
    <section class="advertisement">
        <h2>🌟 Coming Soon: Quantum Teleportation</h2>
        <p>Experience instant communication across light-years!</p>
        <!-- <button>Learn More</button> -->
    </section>
