<h1>Available Plans</h1>
<div class="flex-container">
    <ng-container *ngFor="let plan of DefaultValues.allPlans">
        <div class="card">
            <h3 class="card-head">{{plan.planType}}</h3>
            <div class="card-details">
                <div>Cost: {{plan.price}}</div>
                <div>Signal Range: {{plan.signalRange}}</div>
                <div>Data Cap: {{plan.quota}} Gb</div>
                <button (click)="addJustPlan(plan)">Add this plan to your account</button>
            </div>
        </div>
    </ng-container>
</div>

