<!-- <section>
    <h3>Plan Name Placeholder</h3>
    <ul>
        <li *ngFor="let line of lineList">{{line | phone}}</li>
    </ul>
</section> -->
<h1>Your Plans</h1>

<div class="flex-container">
    <div class="add-a-card">
        <div>Add a plan?</div>
    </div>
    <div class="card">
        <div class="card-head">Citizen Plan</div>
        <div class="card-details">
            <div>Device: </div>
            <div>Cost</div>
        </div>
    </div>
</div>

<h1>Available Plans</h1>
<div class="flex-container">
    <div class="card">
        <div class="card-head">Citizen Plan</div>
        <div class="card-details">
            <div>Base Cost</div>
            <div>Cost per line</div>
            <div>Total cost per Month</div>
            <div>Add a line</div>
        </div>
    </div>
    <div class="card">
        <div class="card-head">Starfighter Plan</div>
        <div class="card-details">
            <div>Base Cost</div>
            <div>Cost per line</div>
            <div>Total cost per Month</div>
            <div>Add a line</div>
        </div>
    </div>
    <div class="card">
        <div class="card-head">Child Plan</div>
        <div class="card-details">
            <div>Base Cost</div>
            <div>Cost per line</div>
            <div>Total cost per Month</div>
            <div>Add a line</div>
        </div>
    </div>
    <div class="card">
        <div class="card-head">Larval/Child Plan</div>
        <div class="card-details">
            <div>Base Cost</div>
            <div>Cost per line</div>
            <div>Total cost per Month</div>
            <div>Add a line</div>
        </div>
    </div>
</div>

