<section class="register-container">
  <h2>Register here:</h2>
    <form [formGroup]="registerForm">
      <div class="form-group">
        <label for="registerEmail">Email:</label>
        <span *ngIf="registerEmail?.invalid && (registerEmail?.touched || registerEmail?.dirty)">
          <span *ngIf="registerEmail!.errors?.['required']">*required</span>
          <span *ngIf="registerEmail!.errors?.['minlength']">*5-character minimum</span>
          <span *ngIf="registerEmail!.errors?.['email']">*Please enter a valid email</span>
      </span>
        <input type="text" placeholder="Enter your email" formControlName="registerEmail" id="registerEmail" required>
      </div>
      <div class="form-group">
        <label for="registerPassword">Password:</label>
        <span *ngIf="registerPassword?.invalid && (registerPassword?.touched || registerPassword?.dirty)">
          <span *ngIf="registerPassword!.errors?.['required']">*required</span>
          <span *ngIf="registerPassword!.errors?.['minlength']">*8-character minimum</span>
          <span *ngIf="registerPassword!.errors?.['maxlength']">*25-character maximum</span>
      </span>
        <input type="password" placeholder="Enter a password" formControlName="registerPassword" name="loginPassword" id="registerPassword" required>
      </div>
      <div class="form-group">
        <label for="registerFirstName">First Name:</label>
        <span *ngIf="registerFirstName?.invalid && (registerFirstName?.touched || registerFirstName?.dirty)">
          <span *ngIf="registerFirstName!.errors?.['required']">*required</span>
          <span *ngIf="registerFirstName!.errors?.['minlength']">*3-character minimum</span>
          <span *ngIf="registerFirstName!.errors?.['maxlength']">*25-character limit</span>
      </span>
        <input type="text" placeholder="Enter your first name" formControlName="registerFirstName" id="registerFirstName" required>
      </div>
      <div class="form-group">
        <label for="registerLastName">Last Name:</label>
        <span *ngIf="registerLastName?.invalid && (registerLastName?.touched || registerLastName?.dirty)">
          <span *ngIf="registerLastName!.errors?.['required']">*required</span>
          <span *ngIf="registerLastName!.errors?.['minlength']">*3-character minimum</span>
          <span *ngIf="registerLastName!.errors?.['maxlength']">*25-character limit</span>
      </span>
        <input type="text" placeholder="Enter your last name" formControlName="registerLastName" id="registerLastName" required>
      </div>
      <button (click)="register()" type="submit" [disabled]="!registerForm.valid">Register</button>
    </form>
    <!-- <div *ngIf="message" class="alert">{{ message }}</div> -->
  </section>