<div class="flex-container">
    <div (click)="this.addDevice(device)" class="card" *ngFor="let device of this.DefaultValues.allDevices" routerLink="/account">
        <img src="{{device.picturePath}}" alt="picture of {{device.brand}} {{device.model}}">
        <div>
            <div>Make: {{device.brand}}</div>
            <div>Model: {{device.model}}</div>
            <div>Price: {{device.price}}$</div>
            <div>Description: {{device.description}}</div>
        </div>
    </div>
</div>


