<div class="flex-container">
    <div (click)="this.addDevice(device)" class="card" *ngFor="let device of this.DefaultValues.allDevices" routerLink="/account">
        <img src="{{device.picturePath}}" alt="picture of {{device.brand}} {{device.model}}">
        <div>
            <div>Make: {{device.brand}}</div>
            <div>Model: {{device.model}}</div>
            <div>Price: {{device.price}}$</div>
            <div>Description: {{device.description}}</div>
        </div>
    </div>
</div>

<!-- <button (click)="myDialog.showModal()">Template</button> -->

<!-- Note css in styles -->
<dialog #myDialog>
    <div>
        <h3>Device Added</h3>
        <!-- <div>Choose a Device</div> -->
        <button (click)="myDialog.close()" (click)="gotoAccount()">Close</button>
    </div>
</dialog>


