img {
    width: 100%;
}

section {
    width: 512px;
    border-radius: 30px;
    text-align: center;
    background-color: var(--card-color);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    transition: .5s;
}

section:hover {
    box-shadow: 0 0 20px 20px rgba(122, 117, 173, 0.2);
}

section img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}