main {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr repeat(10, min-content) 1fr;
    grid-template-areas: 
        "header header"
        "content content"
        "footer footer";
}

.header-inset{
    grid-area: header;
    position: fixed;
    margin-left: 1em;
    /* background-color: #b5179e; */
    width: 100vw;
    height: 60px;
    justify-content: flex-start;
    /* border: 2px solid #4cc9f0; */
    border-top-left-radius: 75%;
    border-bottom-left-radius: 75%;
    /* box-shadow: 10px 10px 5px 0px var(--shadow-color); */
    padding: 2px;
    display: flex;
    /* margin-bottom: 1em; */
}

.menu-bar{
    margin-left: .5em;
    margin-top: 1em;
    background-color: #0a244d;
    padding: 2px;
    border: 5px solid #00e1ff;
    border-bottom-left-radius: 99%;
    border-top-left-radius: 99%;
    box-shadow: 0 0 8px 10px #0466c8;
}

.logo{
    justify-self: left;
    margin-right: auto;
    align-self: center;
    height: 80px;
    width: 80px;
    z-index: 10;
}

app-main-content{
    grid-area: content;
    height: min-content;
    margin-right: 10px;
}

footer{
    grid-area: footer;
    background-color: var(--accent-color);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 10px 5px 0px var(--shadow-color);
    height: 60px;
}