main {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: 
        "header header"
        "side-bar content"
        "footer footer";
}

header{
    grid-area: header;
    position: fixed;
    background-color: var(--accent-color);
    width: 100vw;
    height: max-content;
    justify-content: space-between;
    border-top-left-radius: 75%;
    border-bottom-left-radius: 75%;
}

.content{
    grid-area: content;
    background-color: var(--primary-color);
}

.side-bar{
    grid-area: side-bar;
    background-color: var(--secondary-color);
}

footer{
    grid-area: footer;
    background-color: var(--accent-color);
}