header{
    display: flex;
    align-content: space-between;
    justify-content: center;
}

ul{
    text-align: center;
    display: flex;
    list-style: none;
    align-content: space-between;
    align-items: center;
}

li{
    margin: 8px;
}