header {
    display: flex;
    align-content: space-between;
    justify-content: center;
    background-color: var(--card-color);
    background-image: linear-gradient(to bottom, rgba(77, 0, 107, 0.76), rgba(0, 0, 0, 0.767));
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
    margin-bottom: 8px;
}

ul {
    text-align: center;
    display: flex;
    list-style: none;
    align-content: space-between;
    align-items: center;
}

li {
    margin: 8px;
    padding: 1em;
    transition: 1s;
    border-radius: 5px;
    cursor: pointer;
}

li:hover {
    background-color: rgb(35, 6, 43);
}

h1 img {
    height: 1em;
}

button {
    margin: 1em;
    height: 3.5em;
    /* width: 5em; */
    justify-self: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    box-shadow: 0 0 20px 20px rgba(122, 117, 173, 0.2);
    transform: translateY(-5px);
}