.content-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(10, min-content);
    grid-template-areas: 
        "content-column-left content-column-right";
}

.content-column-left{
    margin: 5px;
    padding: 1em;
    grid-area: content-column-left;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.content-column-right{
    margin: 5px;
    padding: 1em;
    grid-area: content-column-right;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.card{
    border-radius: 30px;
    width: 100%;
    /* height: min-content; */
    margin: 5px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 1em;
    background-color: var(--card-color);
    display: flex;
    flex-flow: column;
    /* flex-grow: 4; */
    justify-items: center;
    align-items: center;
    min-height: 500px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.advertisement{
    min-height: 1000px;
}