<header>
    <!-- <section class="menu-bar"> -->
        <img class="logo" src="./assets/imgs/logo2.png" alt="Star Mobile Logo">
        <section class="inset">
            <ul class="main-menu">
                <li>STAR MOBILE</li>
                <li><a href="">Dashboard</a></li>
                <li><a href="">Plans</a></li>
                <li><a href="">Devices</a></li>
            </ul>
            
            <ul class="account">
                <li><a href="">Login/Register</a></li>
            </ul>
        </section>
    <!-- </section> -->
</header>
