.menu-bar{
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "main-menu-list account-list";
}

.main-menu-list{
    grid-area: main-menu-list;
    display: flex;
    color: var(--text-color);
    float: left;
    justify-content: space-around;
}

.main-menu-list ul{
    flex-shrink: 2;
}

.main-menu-list li{
    display: flex;
    font-size: x-large;
    /* padding: 1em; */
    /* width: auto; */
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.account{
    grid-area: account-list;
    float: right;
    padding: 1em;
    justify-content: center;
}

.account li{
    width: max-content;
}
